<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="Profesor" value="Javier" />
    <add key="Alumno" value="Carlos" />
  </appSettings>
  <connectionStrings>
    <add name="NWConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\northwind.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.SqlClient" />
    <add name="northwindEntities" connectionString="metadata=res://*/App_Code.NWModel.csdl|res://*/App_Code.NWModel.ssdl|res://*/App_Code.NWModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\northwind.mdf;integrated security=True;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
<!--Derechos de páginas-->
  <location path="Inicio.aspx">
<!--Bloque de autorización-->
    <system.web>
      <authorization >
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <!--Derechos de páginas-->
  <location path="AdminPassword.aspx">
    <!--Bloque de autorización-->
    <system.web>
      <authorization >
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <!--Derechos de páginas-->
  <!--<location path="PaginaErrores.aspx">-->
    <!--Bloque de autorización-->
    <!--<system.web>
      <authorization >
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>-->

  <!--Derechos de páginas-->
  <location path="Datos.aspx">
    <!--Bloque de autorización-->
    <system.web>
      <authorization >
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <!--Derechos generales-->
  <system.web>
<!--Este proveedor de Membership es para que lo veamos en configuración
    y veamos que se pueden tener varios.
    En este voy a "relajar" las limitaciones de la password.-->
    <membership defaultProvider="MiSqlMembershipProvider">
      <providers>
        <add connectionStringName="LocalSqlServer" enablePasswordRetrieval="false"
          enablePasswordReset="false" requiresQuestionAndAnswer="false"
          applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed"
          maxInvalidPasswordAttempts="5" minRequiredPasswordLength="5"
          minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
          passwordStrengthRegularExpression="" name="MiSqlMembershipProvider"
          type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </membership>
    <authentication mode="Forms">
      <forms loginUrl="~/Admin/formLogin.aspx" />
    </authentication>
    <authorization>
      <deny users="?"/>
      <!--<allow users="*"/>-->
    </authorization>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
  </system.web>
</configuration>