<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--Derechos de páginas-->
  <location path="AdminPassword.aspx">
    <!--Bloque de autorización-->
    <system.web>
      <authorization >
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <system.web>
        <authorization>
            <allow users="Admin" />
            <deny users="*" />
        </authorization>
    </system.web>
</configuration>